.mainDiv {
  width: 80%;
  margin: auto;
  margin-top: 3vmax;
}
.heading {
  font-weight: 900;
  text-align: center;
  color: #e21818;
}
.subHeading {
  font-weight: bold;
}
.image {
  width: 100%;
  height: 100%;
}

.span {
  color: gray;
}
@media only screen and (max-width: 600px) {
  .mainDiv {
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}
