.mainDiv{
    background-color: #F94A29;
    color: white;
}
.row{
    width: 80%;
    margin: auto;
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 1vmax;
}
.contactContainer{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .row{
        width: 100%;
    }
    .contactContainer{
        justify-content: center;
        padding: 1vmax;
    }
  }
  