.mainRow {
  width: 80%;
  margin: auto;
  margin-top: 2vmax;
}

.imageContainer {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}

.paragraph {
  font-style: italic;
  font-weight: bold;
}
.image {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .mainRow{
    width: 100%;
  }
  .imageContainer{
    width: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
  }
}
